@import "../../../styles/variables.scss";

.wrapper {
    &__copyright {
        margin: 0;
        position: fixed;
        bottom: 0;
        width: 100%;
        background-color: $primaryBgColor;
        color: $primaryFontColor;
        text-align: center;
        vertical-align: middle;
        height: $footerHeight;
        line-height: $footerHeight;
        font-size: $footerFont;
    }

}